# Convex deployment
NUXT_PUBLIC_CONVEX_URL=https://avid-mammoth-766.convex.cloud
VITE_CONVEX_URL=https://avid-mammoth-766.convex.cloud
CONVEX_DEPLOYMENT=dev:avid-mammoth-766

# MinIO
NUXT_PUBLIC_IMAGE_BASE_URL=https://images.growmate.bond
MINIO_ACCESS_KEY=gm-minio-acc
MINIO_SECRET_KEY=gm-minio-key
MINIO_BUCKET=growmate

# OpenAI API
OPENAI_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/
OPENAI_API_KEY=AIza************************HTs8
OPENAI_MODEL=gemini-flash-latest

# IoT
DEVICE_API_KEY=gm-device-key
